.sobreItem{
    width: 100%;
    height: auto;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    color: #c0c0c0;
}

.sobreItem img{
    width: 350px;
    float: left;
}

.sobreItem p{
    font-size: 1rem;
}

.sobreItem  h1{
    margin: 1rem auto;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

@media (width < 915px){
    .sobreItem{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .sobreItem p{
        text-align: justify;
    }
    .sobreItem img{
        margin: 1rem;
    }
    
}