.galeryBox{
    color: #c0c0c0;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.galeryBox h1{
    font-size: 2rem;
    text-transform: uppercase;
}

.Gbox{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;    
}