@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --btn-bgprimary:#F8335E;
  --btn-bgsecundary:#FD4D38;
  --bg:#15002B;
  --bgClaro:#183263;
  --textprimary:#fff;
  
  font-size: 14px;
}
p{
  color: #c0c0c0;
}
h1{
  color: #FD4D38;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}
body{  
  background-color: var(--bg);
  background-image: url('/img/bg.svg');
  background-repeat: no-repeat;  
  background-size: cover;
  color: var(--textprimary);

}

.container-fluid{
  width: 90%;
  margin: auto;
}